body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e6e6fa;
    color: #000000;
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    color: #4b0082;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.8em;
    color: #483d8b;
    margin-bottom: 10px;
}

p {
    margin: 10px 0;
}

ul,
ol {
    margin-left: 20px;
    padding-left: 0;
    list-style-position: inside;
}

ul li,
ol li {
    margin-bottom: 5px;
}

.image-container {
    margin-top: 20px;
    text-align: center;
}

.image {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

button {
    background-color: #8a2be2;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ba55d3;
}
